services:
  db:
    image: postgres:18.1-alpine
    container_name: tenpo-db
    environment:
      POSTGRES_DB: tenpo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: tenpo-api
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: tenpo
      DB_USER: postgres
      DB_PASS: postgres
    depends_on:
      db:
        condition: service_healthy
